.private-videos{
    padding-top: 60px;
    padding-bottom: 60px;
}
.private-videos h1{
    margin-bottom:30px ;
}
.private-videos .swiper{
    margin-bottom: 10px;
}
.private-videos .more{
    color: var(--sub-dark);
    position: relative;
    font-weight: 700;
    text-decoration: none;
    margin-left: 20px;
    
}
.private-videos .more::before{
    content: "<";
    font-size: 18px;
}
.private-videos .more:hover{
    text-decoration: underline;
}