.videos{
    background-color: white;
    padding-top: calc(var(--nav-height) + var(--section-padding));
}
.videos .container > div{
    position: relative;
}
.videos .container > div:not(:last-of-type):after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color:#aaa8a8;
    bottom: 40px;
}
.videos .container .videos-list{
    padding-top: 20px;
}
.videos .container div > h3{
    text-align: right;
    color: var(--sub-dark);
    font-size: 24px;
}