.news-home {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
}

.swiper {
}

.news-home .swiper-slide {
    display: flex;
    justify-content: center;
}
.news-home .swiper-slide a {
    margin-top: 50px;

    transition: all 0.3s;
    background-color: var(--main-gray);
    border-radius: 10px;

    width: 90%;

    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.news-home .swiper-slide a:hover {
    transform: scale(1.02);
}
.news-home .swiper-slide a .left {
    position: relative;
    width: 40%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-home .swiper-slide a .left::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--sub-dark);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.news-home .swiper-slide a .left img {
    max-width: 100%;
    min-height: 100%;
}
.news-home .swiper-slide a .right {
    text-align: right;
    color: var(--sub-dark);
    padding: 10px 20px;
}
.news-home .swiper-slide a .right h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.news-home .swiper-slide a .right p {
    width: 85%;
    margin-left: auto;
    font-size: 15px;
    margin-bottom: 12px;
    line-height: 24px;
}
.news-home .swiper-slide a .right span {
    font-size: 10px;
    background-color: #cae5ff;
    color: #4b659f;
    padding: 4px;
    margin-left: 8px;
    border-radius: 5px;
}
.news-home .swiper-pagination {
    position: static;
    margin-top: 20px;
}
