.accepted-list{
    display: flex;
    justify-content: center;
}
.private-home{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--light);
    height: calc(100vh - 67px - 2* var(--section-padding));
}

.private-home .content{
    display:flex ;
    margin-top: 50px;
    align-items: center;
    gap: 10%;
}

.private-home .content .left{
    width: 40%;
    background-color: var(--main-gray);
    color: var(--sub-dark);
    text-align: right;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
.private-home .content .left h3{
    font-size: 26px;
    margin-bottom: 20px;
}
.private-home .content .left p{
    font-size: 14px;
    width: 95%;
    margin-left: auto;
    margin-bottom: 12px;
    line-height: 20px;
}
.private-home .content .left a{
    font-size: 14px;
}
.private-home .content .right{
    width: 50%;
}
.private-home .content .right img{
    width: 75%;
    
}