.public-home{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-gray);
    height: calc(100vh - var(--nav-height) - 2 * var(--section-padding));
    display: flex;
    width: 100%;
    align-items: center;
}
