*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

*::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: #9c9c9c;
}
.admin-sidebar{
    padding-top: 20px;
    padding-left: 10px;
    overflow-y: auto;
}
.admin-sidebar .sidebar-header{
    margin-bottom: 20px;
}
.admin-sidebar .sidebar-section{
    margin-left: 10px;
    margin-bottom: 25px;
}
.admin-sidebar .sidebar-section .admin-sub-header{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    color: rgb(163, 163, 163);
    margin-bottom: 10px;
}
.admin-sidebar .sidebar-section .links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.admin-sidebar .sidebar-section .links a{
    color: #e0e0e0;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
}
.admin-sidebar .sidebar-section .links a:hover {
    color: #6870fa;
}
.admin-sidebar .sidebar-section .links a.active{
    color: #6870fa;
}